{{define "subject"}}Welcome to Blogist!{{end}}

{{define "plainBody"}}
Hi,

Thanks for signing up for an account. We're excited to have you on board!

Please send a request to the `PUT /api/v1/users/activate` endpoint with the following JSON payload to activate your account:

{"token": "{{.ActivationToken}}"}

Please note that this is a one-time use link and it will expire in 3 days.

Thanks,

The Team
{{end}}

{{define "htmlBody"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html">
</head>
<body>
    <p>Hi,</p>
    <p>Thanks for signing up for an account. We're excited to have you on board!</p>
    <p>Please send a request to the <code>PUT /api/v1/users/activate</code> endpoint with the following JSON payload to activate your account:</p>
    <pre>{"token": "{{.ActivationToken}}"}</pre>
    <p>Please note that this is a one-time use link and it will expire in 3 days.</p>
    <p>Thanks,</p>
    <p>The Team</p>
</body>
</html>
{{end}}
